<div class="container jumbotron">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <p class="navbar-right">
              logged in as <%= @username %>
              <a class="btn btn-primary btn-default buffer-7" role="button" href="/logout">Logout</a>
            </p>
          </div>
        </div>
  <h1>Awesome Flashcards!</h1>
  <p>Get started:</p>
  <form name="input" action="/rounds/quiz" method="post">
    <select name="deck_id">
      <% @decks.each do |deck| %>
        <%= "<option value=\"#{deck.id}\">#{deck.name}</option>" %>
      <% end %>
    </select>

    <input type="submit" value="Submit" class="btn btn-default side-buffer-6">
  </form>
</div>
