<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Quiz DONE!!!</p>
  <p> <%= @round.score %></p>

  <table>
    <th>
      <td style="width: 150px;">Question</td>
      <td style="width: 150px;">Answer</td>
      <td style="width: 150px;">Correct?</td>
    </th>
    <% @round.guesses.each do |guess| %>
      <tr>
        <td><%= guess.card.question %></td>
        <td><%= guess.answer %></td>
        <td><%= guess.correct? %></td>
      </tr>
    <% end %>
  </table>


</div>
