<div class="container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <p><a class="btn btn-primary btn-default navbar-right buffer-7" role="button" href="/logout">Logout</a></p>
      </div>
    </div>
  <h1>Awesome Flashcards!</h1>
  <p>View all:</p>
  <p><a href='/rounds/new'>Start New Game</a></p>

  <table>
    <tr>
      <td style="width: 200px;">Created At</td>
      <td style="width: 100px;">Guesses</td>
      <td style="width: 100px;">Correct</td>
      <td style="width: 100px"> Link</td>
    </tr>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.created_at.to_s(:short) %></td>
        <td><%= round.guesses.count %></td>
        <td><%= "%.2f" % round.score %>%</td>
        <td><%= "<a href=\"/rounds/result/#{round.id}\">link</a>" %> </td>
      </tr>
    <% end %>
  </table>
</div>



