.buffer-50 {
  padding-top: 55px;
}

.buffer-left-16px{
  padding-left: 16px;
}
.buffer-25 {
  padding-top: 25px;
}

.uppercase-spaced {
  text-transform: uppercase;
  letter-spacing: 1px;

}

.buffer-7 {
  margin-top:7px;
}

.side-buffer-6 {
  margin: 0 6px;
}

.inside-nav {
  float:left;
  padding-top: 15px;
  }

th {
  text-align: left;
}

.deck-label {
  display: inline;
  margin: 0 30px 0 0;
}

.question {

}
.question h4 {
  display: inline;
}

.question p {
  display: inline;
}

.answer h4{
  display: inline;
}

.answer p{
  display: inline;
}
