<div class="container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <p><a class="btn btn-primary btn-default navbar-right buffer-7" role="button" href="/logout">Logout</a></p>
      </div>
    </div>
  <h1>Decks for Boss People</h1>
  <p>Choose your poison.</p>
  <div class="buffer-25"></div>
  <div class="list-group col-xs-6 col-sm-3">
  <% @decks.each do | deck | %>
    <a href= <%= "\"/decks/#{deck.id}\"" %> class="list-group-item"><%= deck.name %></a>
  <% end %>
  </div>
  <div class="list-group">

</div>
