<div class="container">
  <h1>Flashcards for Boss People</h1>
  <p>Flashie flash Index</p>

  <p>The session </p>
  <p><code><%= session.inspect %></code></p>
  <p><code><%= session.id %></code></p>

</div>
