
    <div class="jumbotron">
      <div class="container">
        <h1>Flash Card Ninja!</h1>
        <p>Welcome to your Ninjai Profile!</p>
        <p><a class="btn btn-primary btn-lg uppercase-spaced" role="button" href="rounds/new">Play &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Username</h2>
          <p><%= @username %></p>
        </div>

        <div class="col-md-4">
          <h2>Email</h2>
          <p><%= @email %></p>
        </div>

        <div class="col-md-4">
          <h2>Decks</h2>
          <% @decks.each do |deck_obj| %>
            <p> <%= deck_obj.name %> </p>
          <%end%>
        </div>
      </div>

      <hr>
