<div class="container">
  <h1>Flash Card Ninja!</h1>
  <p> Ninjai Profile page!</p>

  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <tr>
      <td>Your username</td>
      <td><code><%= puts 'hi' %></code></td>
    </tr>
    <tr>
      <td>email </td>
      <td><code><%= puts 'hi' %></code></td>
    </tr>
        <tr>
      <td>The session </td>
      <td><code><%= session.inspect %></code></td>
    </tr>
  </table>
</div>
