<div class="container">
  <h1>Flash Card Ninja!</h1>
  <p>MoshiMoshi Ninjai!</p>



</div>
<div class="container">


  <h3> If you are true Ninjai, login here </h3>
<form name="signup_form" action="/signin" method="post">
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password">
<input type="submit">
</form>

</div>
